@{
    ViewData["Title"] = "SOBRE";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Ola pessoal, eu me chamo Alvaro Lopes, sou um estudante de Ciencias da computação e estou no quinto periodo,
    estou com foco na carreira de neuro engenheiro.</p>
<p>@ViewData["email"]</p>
